* {
    margin: 0;
    padding: 0;
}

#site_header {
    background-color: rgb(16, 138, 203);
    background-image: url("../img/pattern.png");
    background-size: 280px;
    /* height: 50px; */
}

header .logo-header {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 100px;
}

#site_main {
    padding: 5px;
}

h5 {
    color: #aaa9a9;
}

.blue_highlight {
    color: rgb(27, 161, 244);
}

h6 {
    color: #aaa9a9;
}

section {
    padding-top: 10px;
}

.photo-caption {
    font-size: 12px;
}

p {
    padding-top: 10px;
}

p > span {
    background-color: yellow;
}

thead {
    color: white;
    background-color: rgb(0, 160, 234);
}

.narrow_column{
    width: 25%;
}

.large_column{
    width: 50%;
}

.coloured-cell {
    background-color: rgb(108, 219, 236);
}

table {
    padding-top: 10px;
}

h4{
    color: #aaa9a9;
}

.photo_text{
    color: black;

}