* {
    margin: 0;
    padding: 0;
}

#site_header {
    background-color: rgb(16, 138, 203);
    background-image: url("/img/pattern.png");
    height: 50px;
}

header .logo-header {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 100px;
}

#site_main {
    padding: 5px;
}

h5 {
    color: #aaa9a9;
}

.blue_highlight {
    color: rgb(27, 161, 244);
}

h6 {
    color: #aaa9a9;
}

section {
    padding-top: 10px;
}

.photo-caption {
    font-size: 12px;
}